<a name="top"></a>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<script type="text/javascript">
var someJavaScriptVar = '{{ foo }}'; 

// Overly verbose so we know what's in data.  
var user1 = user2 = hashtag = ''; 
var data = { 
	"foo":"Porsche", 
	"user1": user1,
	"user2": user2,
	"hashtag": hashtag
};

window.onload = function() {
	document.getElementById("theButton").onclick = function() {
		makeItSo();
	};
}

function makeItSo() {
	var xhr = new XMLHttpRequest(); // (usually set to http)
	var url = '/appdata';
	
	// actually, we should do client side validation ;-) 
	var user1 = document.getElementById("user1").value;
	var user2 = document.getElementById("user2").value;
	var user3 = document.getElementById("user3").value;
        var params = {'user1':user1,'user2':user2,'user3':user3};
	xhr.open("POST", url, true);

	//Send the proper header information along with the request. May not precede open. 
	//xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded'); // why. 
	xhr.setRequestHeader("Content-Type", "application/json");

	xhr.onreadystatechange = function () {
	    if (xhr.readyState === 4 && xhr.status === 200) {
		//alert(xhr.responseText);
		
	    }

	};
	//var data = JSON.stringify({"email": "hey@mail.com", "foo": "barr"});
	var data = JSON.stringify(params);
	//xhr.send(data).done(alert('done!'));
	xhr.send(data);

	//updateImage('user1graph', '/static/ /sapient_4u.png');
        updateImage();

	return false;
}

//function updateImage(id, url) {
function updateImage() {
	var pic = document.getElementById('user1graph');
	var user = document.getElementById("user1").value;
	var name = user.replace(/^@/, '');
        spin = '/static/img/spinner1.gif';	
	// @FIXME Why isn't spinner working? 
	pic.src = spin;
	url = '/static/' + name + '.png';
	while (!imageExists(url)) {	
		pic.src = spin;
		console.log('nope');
		imageExists(url);	
	};
	pic.src = url;
	
}

function imageExists(url){

    var http = new XMLHttpRequest();

    http.open('HEAD', url, false);
    http.send();

    return http.status != 404;
}

</script>
<html><head><title>Twitter Sentiment Analysis Tool</title>
<meta name="viewport" content="width=device-width" />
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">

<div class="wrapper" style="background-color:#f8f8ff">
  <div class="container" style="padding: 0 10%">
      <header id=”header”> 
<h1 align="center">Twitter Feelz</h1>    
<p>A tool to analyze Twitter users using sentiment analysis to determine where a user falls on a scale of opinionated versus factualness, and whether their attitude is more positive, or more negative. Compare Twitter users' emotional/factual bias. Compare 2 users to each other, or see which of 2 users a 3rd user is more aligned with. (Advanced version)</p> 
      </header>
    <div class="form-group">
    <label class="form-label">
      <input type="text" id="user1" placeholder=" 1st Twitter User"></label><br />
    <label class="form-label">
      <input type="text" id="user2" placeholder=" 2nd Twitter User"></label><br />
      <input type="text" id="user3" placeholder=" 3rd Twitter User"> (optional)</label><br />
    <label class="form-label">
      <input type="checkbox" name="checkbox" value="value"> Include hashtags in sentiment analysis?</label>
    <label class="form-label">
      <input type="checkbox" name="checkbox" value="value"> Overlay mode? (1 graph for both users)</label><br />
<a href="#" class="btn btn-lg" id="theButton">Analyze Attitude</a>
<i>NOTE: demo (free) version only supports 1 user report</i>.<br /><br />
<div class="columns" style="background-color:yellow, width:100%">
<div class="column col-6 col-sm-12 col-med-12 " id="user1-col" style="">
<div class="card">
<h3 style="padding-left: 1em" >Sentiment Analysis, User 1:</h3>
<img class="img-responsive" id="user1graph" src="/static/img/tweet-sent-temp.png" />
<!-- img id="user1graph" src="" --></div></div>
<div class="column col-6 col-sm-12" id="user2-col" style="background-color">
<div class="card">
<h3 style="padding-left: 1em" >Sentiment Analysis, User 2:</h3>
<img class="img-responsive" id="user21graph" src="/static/img/tweet-sent-temp.png" />
<!-- img id="user2graph" src="/static/img/tweet-sent-temp.png" / -->
</div>
</div>

</div>
</div>

<!-- img style="height:auto; width:auto, max-width:30px, object-fit:contain" id="user1graph" src="/static/img/tweet-sent-temp.png" / -->
